* {
  box-sizing: border-box;
}

body {
  font-family: 'Caudex', serif;
  font-weight: normal;
  margin: 0;


  --main-bg-color: rgba(0, 28, 96, 0.5);
}

.statistics {

}

h1 {
  font-weight: bold;
  font-size: 3rem;
  background-color: var(--main-bg-color);
  margin: 0;
}

h2 {
  background-color: var(--main-bg-color);
  font-weight: normal;
}

article {

}

article, .statistics, .gallery {
  padding: 5px 10px;
  width: 50%;
  float: left;
}

nav {
  background-color: rgba(0, 28, 96, 1);
}

img {
  max-width: 100%;
}

.pic {
  display: block;
  float: left;
  width: 50%;
  line-height: 0;
  padding-top: 5px;
}

.pic:nth-child(2n) {
  padding-right: 5px;
}

.pic:nth-child(2n+1) {
  padding-left: 5px;
}

.pic__img {

}

.track {
  margin: 10px auto;
  display: block;
  max-width: 100%;
}

.h2modified {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}

.data {
  font-size: 2rem;
}

#miniTrack {
  width: 50px;
  padding: 5px 5px 0px 5px;
}

#wikipedia {
  background-color: var(--main-bg-color);
  font-size: 1.5rem;
}
